node_modules
# fork-timothy
TIMOTHY-README.MD
gpu_service.go
compose.gpu-amd.yaml
compose.gpu-intel.yaml
compose.gpu-nvidia.yaml

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
frontend/.svelte-kit
frontend/build
build
data/
dist/
arcane

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.env.dev

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#tests data
tests/test-results/*
tests/.report/*
tests/.auth/
backend/.bin
backend/build-errors.log
frontend/bun.lock
tests/bun.lock
tests/package-lock.json
/.idea/**