node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
frontend/.svelte-kit
frontend/build
build
data/
dist/
arcane

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.env.dev

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#tests data
tests/test-results/*
tests/.report/*
tests/.auth/
backend/.bin
backend/build-errors.log
frontend/bun.lock
tests/bun.lock
tests/package-lock.json
/.idea/.gitignore
/.idea/arcane.iml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.edit.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
